*{
    padding: 0;
    margin: 0;
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;

    
}
.top-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    width:  500px;
    padding-right: 350px;
    /* padding: 220px 260px 364px ; */

}
header{
    background: url(banner1.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: cover;    
}

.top-section .top-right h3{
    font-size: 65PX;
    padding-bottom: 20px;
}
.top-section .top-right p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 54px;
}
.img{
    width: 100%;
    height: 100vh;
}
.section-heading{
    padding-top: 400px;
    padding-right: 200px;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
}
.about-container .img {
    width: 500px;
    height: 450px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-heading h2 {
    font-size: 40px;
    color: #1a1a1a;
    margin-bottom: 24px;
}
.section-heading p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 32px;
}
.section-heading ul {
    list-style: none;
}
.section-heading ul li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #333;
}
.checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #00a67e;
}
